<div class="row">
    <div class="col-md-12">
        
        <div class="row">
        
            <div class="col-md-5">
                <h3><small>1st</small> Select files location</h3>
            </div>
    
                
            <div class="col-md-5">
                <h3><small>2st</small> Upload files</h3>
            </div>
            
        </div>
    </div>
    
    <div class="col-md-5">
        <div id="folder-tree"></div>
    </div>

    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data" action="/Upload/UploadFile" id="file-upload-form" class="dropzone"></form>
    </div>
    <div class="col-md-2">
        <a class="btn btn-block upload-button" id="upload-button">Upload</a>
    </div>
</div>