<div class="row">
    <div class="col-md-10">
        <form method="post" enctype="multipart/form-data" action="/Upload/UploadFile" id="file-upload-form" class="dropzone"></form>
    </div>
    <div class="col-md-2">
        <a class="btn btn-block upload-button" id="upload-button">Upload</a>
    </div>
</div>