@{
    ViewData["Title"] = "Files";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="Folders">
    @foreach (var item in (List<string>) ViewData["Folders"])
    {
        <span>@item</span>
    }
</div>

<p>Use this area to provide additional information.</p>
